<a href="https://colab.research.google.com/github/Proahmedjaved/recommendation_systems/blob/master/movie_recommender_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importing Libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
from google.colab import files
data = files.upload()

Saving imdb_1972-2019.csv to imdb_1972-2019.csv

In [61]:
df = pd.read_csv('imdb_1972-2019.csv')
df.index.name = 'movie_id'

In [107]:
df.head(10)

          Unnamed: 0  ...                                  combined_features
movie_id              ...
0                  0  ...  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...
1                  1  ...  Tom Holland, Samuel L. Jackson, Jake Gyllenhaa...
2                  2  ...  Tom Hanks, Tim Allen, Annie Potts, Tony Hale  ...
3                  3  ...  Dwayne Johnson, Jack Black, Kevin Hart, Karen ...
4                  4  ...  Robert Pattinson, Willem Dafoe, Valeriia Karam...
5                  5  ...  Aaron Paul, Jonathan Banks, Matt Jones, Charle...
6                  6  ...  Keanu Reeves, Halle Berry, Ian McShane, Lauren...
7                  7  ...  Brie Larson, Samuel L. Jackson, Ben Mendelsohn...
8                  8  ...  Will Smith, Mena Massoud, Naomi Scott, Marwan ...
9                  9  ...  Jessica Chastain, James McAvoy, Bill Hader, Is...

[10 rows x 13 columns]

In [43]:
columns = ["Title","Description","Genre","Director"]

In [64]:
df[columns].head(3)

                              Title  ...                       Director
movie_id                             ...
0                 Avengers: Endgame  ...  Anthony Russo, Joe Russo
1         Spider-Man: Far from Home  ...                 Jon Watts
2                       Toy Story 4  ...               Josh Cooley

[3 rows x 4 columns]

In [122]:
def get_impt_features(data):
  combined_strings = []
  for i in range(0, data.shape[0]):
    combined_strings.append(data['Actors'][i] + ' ' + data['Genre'][i] + ' ' + data['Director'][i])
  return combined_strings

In [123]:
df['combined_features'] = get_impt_features(df)

In [124]:
cm = CountVectorizer().fit_transform(df['combined_features'])

In [125]:
cs = cosine_similarity(cm)

In [134]:
test_title = 'Toy Story'

In [135]:
movie_id = df[df.Title == test_title].index.values[0]

In [136]:
scores = list(enumerate(cs[movie_id]))

In [137]:
sorted_scores = sorted(scores, key = lambda x:x[1], reverse=True)

In [138]:
sorted_scores[:7]

[(4334, 0.9999999999999998),
 (3808, 0.6054055145966812),
 (2, 0.5384615384615385),
 (1462, 0.5384615384615385),
 (5169, 0.4803844614152615),
 (1259, 0.4296689244236597),
 (5657, 0.40360367639778744)]

In [140]:
df[df.index == sorted_scores[3][0]]

          Unnamed: 0  ...                                  combined_features
movie_id              ...
1462             913  ...  Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty ...

[1 rows x 13 columns]